.homePageRoot {
  display: flex;
  flex-direction: column;
  min-height: 0;

  .hero {
    height: 400px;
    background-size: cover;
    background-position: center;
    @media screen and (min-width: 1060px) {
      height: 800px;
      width: "100%";
      background-size: cover;
    }
    @media screen and (max-width: 560px) {
      height: 200px;
      background-size: cover;
    }
  }
  .carousel {
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 24px;
    margin: 24px;
  }
}
