.rootLayout {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  @media only screen and (max-width: 700px) {
    flex-direction: column;
  }
}
textarea {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  resize: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  height: 5rem;
  width: 100%;
  overflow: hidden;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.deck {
  display: grid;
  max-height: 14rem;
  gap: 10px;
  width: 100%;
  grid-column: span 2;
  overflow-y: scroll;
  grid-template-columns: auto auto auto auto auto auto auto;
}
.cardsContainer {
  display: grid;
  margin: 12px;
  gap: 24px;
  grid-template-columns: auto auto;
  justify-content: center;
  width: 100%;

  @media only screen and (max-width: 600px) {
    gap: 24px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
.chipsFlex {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
