@font-face {
  font-family: "NimbusMonolot";
  src: local("NimbusMonolot-Regular"),
    url("./assets/fonts/nimbusmonolot-regular.otf");
}
@font-face {
  font-family: "NimbusMonolotBold";
  src: local("NimbusMonolot-Bold"), url("./assets/fonts/nimbusmonolot-bold.otf");
}
.input {
}
